*{
    margin: 0;
    padding: 0;
}
.bodoni-moda-sc-{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

body{
    background-color: rgba(0, 0, 0, 0.781);
}

.nav-superior{
    width: 100%;
    display: flex;
    height: 3rem;
    background-color: rgb(244, 244, 106);
    font-size: 1.2rem;
}

#menu-principal{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* centraliza horizontalmente */
    align-items: center;/* centraliza verticalmente */
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0 10px;
    width: 100%;
}

.descrição{
    text-align: center;
    font-size: 20px;
}

.cardapio{
    font-size: 50px;
    text-align: center;
}

#card-container{
    padding-left: 2%;
}

.card{
    font-size: 20px;
    text-align: left;
    padding-left: 2%;
}

h1{
    text-align: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration:none;
    color: black;
}
a:hover{
    color: rgb(36, 36, 7);
}
#container-principal{
    height: 500px;
    width: 60%;
}