<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <title>Monte seu Lanche!</title>
</head>
<body>
    <header>
        <nav class="nav-superior bodoni-moda-sc-">
            <ul id="menu-principal">
                <li><a href="../index.html">home</a></li>
                <li>sobre</li>
            </ul>
        </nav>
    </header>
    <h1 class="bodoni-moda-sc- titulo">Monte aqui o seu Lanche!</h1>
    <div class="montar">
        <form class="dm-serif-display-regular">
            <label for="nome">Nome do lanche:</label>
            <input type="text"><br>
            <label for="pao">Pão:</label>
            <input type="text"><br>
            <label for="vegetais">Vegetais</label>
            <input type="text"><br>
            <label for="queijo:">Queijo:</label>
            <input type="text"><br>
            <label for="proteina">Proteína:</label>
            <input type="text"><br>
            <label for="adicionais">Adicionais:</label>
            <input type="text"><br>
            <button type="button" class="dm-serif-display-regular envio">Enviar</button>
        </form> 
    </div>
    
</body>
</html>